
  <header class="coverImgLayer">
  <div class="Head">
  <div class="container d-flex align-items-center justify-content-between p-md-1 p-lg-1 ">

  <!-- <h1 class="logo"><a href="index.html">AHA FS</a></h1> -->
   <!-- Uncomment below if you prefer to use an image logo -->
   <a href="index.html" class="logo"><img src="../../assets/img/final logo hadeer-1 copy.png" alt="" class="img-fluid"></a>

    <div class="input-group" >

      <div id="search-autocomplete" class="form-outline"> 
        <button type="button" class="btn btn-primary">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>

        <input type="search" id="form1" class="form-control" alt="search" placeholder="Search our store"> 
      </div>

    </div>

</div>

</div>
</header>

